body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
  padding: 0;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  width: 95%;
  max-width: 900px;
}

.container > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #f0f0f0;
  padding: 15px 15px 25px 15px;
  border-radius: 10px;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);
  width: calc(100% - 30px);
  min-width: 120px;
}

.container > section:not(:last-child) {
  margin-right: 30px;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .container > section:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.emoji {
  font-size: 5rem;
  min-height: 120px;
  margin-top: 10px;
  text-shadow: 5px 5px 10px rgb(0 0 0 / 25%);
}

h1 {
  margin: 0 0 30px 0;
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: 1px;
}

h3 {
  margin: 10px 0;
  font-size: 1.25rem;
  font-weight: 600;
}

h3 > sup {
  margin-left: 3px;
  font-size: 0.875rem;
  font-weight: 400;
}

.btn {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.7;
}

.btn:hover {
  opacity: 1;
}
