:root {
  --light: hsl(210, 70%, 96%);
  --light-mid: hsl(209, 51%, 85%);
  --mid: hsl(209, 25%, 70%);
  --dark: hsl(211, 20%, 64%);
  --slider-width: 80px;
  --slider-offset: calc(50px / 2); /* label width/2 */
  --control-size: 20px;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 15px;
  padding: 0;
  background: #f0f0f0;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  width: 95%;
  max-width: 900px;
}

.container > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #fff;
  padding: 15px 15px 25px 15px;
  border-radius: 10px;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);
  width: calc(100% - 30px);
  min-width: 120px;
}

.container > section:not(:last-child) {
  margin-right: 30px;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .container > section:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.emoji {
  font-size: 5rem;
  min-height: 120px;
  margin-top: 10px;
  text-shadow: 5px 5px 10px rgb(0 0 0 / 25%);
}

h1 {
  margin: 0 0 30px 0;
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 1px;
}

h3 {
  margin: 10px 0 15px 0;
  font-size: 1.25rem;
  font-weight: 600;
}

h3 > sup {
  margin-left: 3px;
  font-size: 0.875rem;
  font-weight: 400;
}

.btn {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.btn:hover {
  opacity: 1;
}

.fade-in {
  animation: fadeInAnimation ease-in 2s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
  0% { 
    opacity: 0; 
  } 
  100% { 
    opacity: 1; 
  } 
}

.slider {
  position: relative;
  -webkit-appearance: none;
  width: var(--slider-width);
  margin-left: 0;
  margin-right: 0;
  height: 10px;
  border-radius: 5px;
  background: var(--light-mid);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: var(--mid);
  border: 4px solid #fff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: var(--mid);
  border: 4px solid #fff;
  cursor: pointer;
}

.slider ~ label {
  position: relative;
  left: 0;  
  bottom: 35px;
  font-size: 0.875rem;
}