body {
  font-family: Arial, Helvetica, sans-serif;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
}

.container > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #eee;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2)
}

.container > section:not(:last-child) {
  margin-right: 30px;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .container > section:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.emoji {
  font-size: 5rem;
  min-height: 120px;
}

h3 {
  margin: 5px 0;
}

.btn {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.7;
}

.btn:hover {
  opacity: 1;
}
